body {
    background-color: #fff;
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.logo-header,
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-header>.logo-part {
    color: #2e2f42;
}

.link-nav {
    color: var(--navyblue, #2E2F42);
    font-weight: 500;
}

.address {
    font-style: normal;
}

.contact {
    color: var(--slate, #434455);
}

.link-nav:hover,
.link-nav:focus,
.contact:hover,
.contact:focus {
    color: var(--ocean, #404BBF);
}

/* Main  */
.hero-image {
    background-color: var(--navyblue, #2E2F42);
}

.title-main {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white, #FFF);
    text-align: center;
}

.button {
    background-color: var(--iris, #4D5AE5);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white, #FFF);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--ocean, #404BBF);
}

.features-title,
.name,
.portfolio-project {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-article,
.position,
.portfolio-project-type {
    color: var(--slate, #434455);
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team {
    background-color: var(--cloud, #F4F4FD);
}

.team-member {
    background-color: #FFFFFF;
}

/* Footer  */
.footer {
    background-color: var(--navyblue, #2E2F42);
}

.logo-footer {
    color: var(--iris, #4D5AE5);
}

.logo-part-footer {
    color: var(--cloud, #F4F4FD);
}

.footer-text {
    color: var(--cloud, #F4F4FD);

}